<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>after rekomendasi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylee.css') }}"
    />
  </head>
  <body>
    <div id="error-page">
      <div class="content">
        <h4 data-text="welcome">Dukungan untuk Berbagi Pengalaman</h4>
        <p>
          "Terima kasih telah merekomendasikan kafe terbaikmu! Ceritakan lebih
          banyak tentang suasana, makanan, atau momen spesial yang membuat
          tempat itu begitu istimewa. Berbagi adalah peduli."
        </p>
        <div class="btns">
          <a href="/rekomendasi">Kembali</a>
        </div>
      </div>
    </div>
  </body>
</html>
